<%- include('../partials/header') %>

<div class="card" id='msg-card'>
  <div class="card-body">
    <h5 class="card-header">MESSAGES QUESTIONS AND REQUESTS!</h5>
<form action="/messages" method="POST" id='createMsg'>
  <div class="form-group">
    <input id= 'textBox' type="text" class="form-control" style="width:500px" aria-describedby="message" name="title" placeholder="Enter your question or request here...">
  </div>
  <button type="submit" class="btn btn-success">Create Post</button>
</form>

<% messages.forEach(message => { %>
  <div class="card" id='allMessages'>
    <div class="card-header">
      <%= message.postedBy %> <img id="avatarPhoto" width="10" src="<%= message.avatar %>" alt="">
    </div>
    <div class="card-body">
      <p><%= message.title %></p>
      <h6><%= message.createdAt.toLocaleString()%></h6>
      <a href="/messages/<%= message._id %>" class="btn btn-primary">See Post</a>
    </div>
  </div>
<% }) %>


<%- include('../partials/footer') %>