<%- include('../partials/header') %>
<div class="card" id='msgReply1'>
<h3><%= user.name %> says,</h3>
<h4><%= message.title %></h4>
<h5>Posted on <%= message.createdAt.toLocaleString() %> - <%= message.postedBy %> <img id="avatarPhoto" width="30" src="<%= message.avatar %>" alt=""></h5>
</div>

<div class="card" id='msgReply2'>
  <h3 class="card-header">Replies</h3>
<% message.replies.forEach(reply => { %>
    <h6><%= reply.message %> - <%= reply.postedBy %> <img id="avatarPhoto" width="25" src="<%= reply.avatar %>" alt=""></h6>
<% }) %>
</div>

<div class="card" id='makeReply'>
<form action="/messages/<%= message._id %>" method="POST">
  <div class="form-group">
    <input type="text" class="form-control" aria-describedby="message" name="message" placeholder="Enter reply...">
  </div>
  <button type="submit" class="btn btn-primary">Reply</button>
</form>
</div>

<%- include('../partials/footer') %>